@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F4faea;
  color: #002333;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

header{
  padding: 2rem;
  background-color: #002333;
  color: #DEEFE7;
  text-align: center;
  
}

a{
  text-decoration: none;
  color: #F4faea;
}

li{
  padding: 0.3rem;
  list-style-type: none;
  display: inline;
}

main{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

article{
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 5px;


}

h2{
  padding: 1.5rem;
}

h3{
  padding: 1.5rem;
  gap: 1.5;
}

time{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
}



img{
  width: 50rem;
  border-radius: 5px;
}

